.HEADBAR {
    position: fixed ;
    display: block ;
    width: 100%;
    height: 6em;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.1);
    z-index: 999;
}

body {
    background-image: url("wrgbwerbheath-00001.png");
    background-repeat:repeat;
    background-size: 100%;
    width: 100%;
    color: red;
}

.HEADBAR img {
    height: 100%;
    display: block;
}

.HEADBAR p {
    width: fit-content;
    height: fit-content;
    display: block;
    font-size: 2em;
    margin: auto 0 auto 0;
}

nav {
    display: inline-block;
    width: fit-content;
    height: 100%;
}

nav ul {
    display: inline;
    list-style-type: none;
    height: 100%;
    overflow: inherit ;
}

.float_left{
    float: left;
}

.credit{
    display: block;
    position: fixed;
    bottom: 1vh;
    color: gray;
}

/* Style The Dropdown Button */
.dropbtn {
    font-size: 1em;
    background-color: rgba(0,0,0,0.2);
    color: white;
    padding: 16px;
    width: 100%;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    font-size: 2em;
    border: solid rgba(0,0,0,0.2) 2px;
    position: fixed;
    width: 6em;
    display: inline-block;
    height: min-content;
    margin: 2vh 0 2vh 2px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    background-color:rgba(0,0,0,0.4);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 100%;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    font-size: 1em;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgba(0,0,0,0.5)}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: rgba(0,0,0,0.4);
  }

@media (min-width: 1200px)
{
article {
    position: relative;
    top: 6em;
    padding:0 20% 0 20% ;
}
}

@media (max-width: 1200px)
{
article {
    position: relative;
    top: 6em;
    z-index: 0;
    margin: 0;
}
}

article h1 {
    font-size: 4em;
}

article h2 {
    font-size: 3em;
}

article p {
    font-size: 2em;
}